/* /Layout/MainLayout.razor.rz.scp.css */
.container[b-1w4c02m28g] {
    padding: 10px 10px;
    background-color: rgb(234, 234, 234);
}

.logo[b-1w4c02m28g] {
    height: 30px; /* Smaller logo */
}
/* /Pages/Home.razor.rz.scp.css */
.info-card[b-c1ukfc409i] {
    background-color: #27c3c3; /* Green background */
    border-radius: 12px; /* Rounded corners */
    padding: 15px;
    height: 100px;
}

.info-card h5[b-c1ukfc409i] {
    margin: 0;
    font-size: 1.2rem; /* Adjust the font size as needed */
}

.info-card h2[b-c1ukfc409i] {
    margin: 0;
    font-size: 1.8rem; /* Adjust the font size as needed */
}

.info-card .text-danger[b-c1ukfc409i] {
    color: #dc3545; /* Red color for 'Food' text */
}

.info-card img[b-c1ukfc409i] {
    width: 100px;
}





.search-btn[b-c1ukfc409i] {
    background-color: rgb(212, 204, 204);
}

.search-btn:hover[b-c1ukfc409i] {
    background-color: rgb(193, 188, 188);
}

.card[b-c1ukfc409i] {
    font-size: 0.875rem;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img[b-c1ukfc409i] {
    height: 100px;
    width: 100%;
    display: block;
}

.card-body[b-c1ukfc409i] {
    padding: 0.5rem; /* Padding inside the card */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns text to the top */
    flex-grow: 1;
}

.card-body .card-title[b-c1ukfc409i] {
    font-size: 1rem; /* Base font size for title */
    font-weight: 600; /* Semibold */
    text-align: center;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds ellipsis (...) to overflowing text */
}

.card-body .card-price[b-c1ukfc409i] {
    font-size: 0.875rem; /* Slightly smaller font for price */
    color: #6c757d; /* Secondary text color */
    text-align: center;
    margin-top: auto; /* Pushes the price to the bottom */
}

.categories-scroll[b-c1ukfc409i] {
    scroll-behavior: smooth;
}

.categories-scroll[b-c1ukfc409i]::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

.categories-scroll[b-c1ukfc409i] {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.position-sticky[b-c1ukfc409i] {
    z-index: 1000; /* Ensure it stays on top while scrolling */
    background-color: rgb(234, 234, 234);
}

.input-group[b-c1ukfc409i] {
    position: relative;
}

.input-group .form-control[b-c1ukfc409i] {
    padding-right: 2.5rem; /* Make space for the icon inside the input */
    border-radius: 50px;
    box-shadow: none;
}

