@inherits LayoutComponentBase
<div class="container">
    <div class="d-flex justify-content-between align-items-center py-1">
        <img src="Images/logo.png" class="logo" />
        <h2 class="font-semibold">Coffeman</h2>
    </div>
    <main>
        @Body
    </main>
</div>
